.adContainer{
    background-color: #f8f9fa;
    padding: 10px;
}
.adTitle{
    text-align: center;
}
.productDescription{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
}
.feature{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
}
.smallImage{
    max-width: 100%;
    height: 200%;
}
