.container {
    background-color: #f8f9fa;
    padding: 50px;
}
.form-control {
    height: 40px;
}
.urunYukleButton {
    color: white;
    background-color: #3f475f;
}
.urunYukleButton:hover {
    color: white;
    background-color: darkred;
}