.confirm-password-container {
    width: 40%;
    border: 1px solid black;
    border-radius: 10px 10px;
    background-color: #39555e;
    margin: 10% auto;
    padding: 20px;
  }
  
  .confirm-password-heading {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
    background:
      linear-gradient(white, transparent),
      linear-gradient(to top left, black, transparent),
      linear-gradient(to top right,#c9e4ca, transparent);
    background-blend-mode: screen;
  }
  
  .confirm-password-input {
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px 10px;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  
  .confirm-password-button {
    background-color: #c9e4ca;
    color: black;
    width: auto;
    height: auto;
    font-size: 20px;
    display: inline-block;
    margin: auto;
    margin-top: 2em;
    border-radius: 5px;
    box-shadow: none;
  }
  
  .confirm-password-button:hover {
    background-color: #87bba2;
  }
  
  .confirm-password-error {
    color: red;
    font-size: 12px;
    margin-top: 1em;
  }
  
  .confirm-password-message {
    color: green;
    font-size: 16px;
    margin-top: 1em;
  }