.kapsayıcı {
    display: flex;
    flex-wrap: wrap; 
    background-color: #f9f9f9;
  }
  
  .first, .second, .third {
    flex: 1;
    margin: 10px; 
  }
  
  .bottomArea {
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
  }
  
  .bir, .iki, .üç {
    flex: 1;
    display: flex;
    gap: 12px;
    margin: 10px; 
  }
  
  .kapsam {
    border: 1px solid #dfdfdf;
    padding: 10px; 
  }
  
  @media (max-width: 768px) {
    .kapsayıcı, .bottomArea {
      flex-direction: column; 
    }
    .first, .second, .third, .bir, .iki, .üç {
      flex: 1;
      margin: 10px 0;
    }
  }
  