.forgot-password-container {

  max-width: 500px; 
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f8f9fa; 
}
.forgot-password-heading {
  color: yellow;
  background-color: #3f475f;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
}
.forgot-password-input {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 10px 10px;
  width: 72%;
  padding: 0.5em;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.forgot-password-button:hover {
  color: black;
  background-color: yellow;
  box-shadow: none;
}

.forgot-password-button {
  background-color: #3f475f;
  color: white;
  width: auto;
  height: auto;
  font-size: 20px;
  display: inline-block;
  margin: auto;
  margin-left: 23%;
  margin-top: 2em;
  border-radius: 5px;
  box-shadow: none;
}
