.forgot-password-container {

  max-width: 500px; 
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #39555e; 
}
.forgot-password-heading {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
  background:
  linear-gradient(white, transparent),
  linear-gradient(to top left, black, transparent),
  linear-gradient(to top right,#c9e4ca, transparent);
background-blend-mode: screen;
}
.forgot-password-input {
  font-size: 15px;
  border: 1px solid black;
  border-radius: 10px 10px;
  width: 72%;
  padding: 0.5em;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.forgot-password-button:hover {
  color: black;
  background-color: #87BBA2;
  box-shadow: none;
}

.forgot-password-button {
  background-color: #c9e4ca;
  color: BLACK;
  width: auto;
  height: auto;
  font-size: 20px;
  display: inline-block;
  margin: auto;
  margin-left: 23%;
  margin-top: 2em;
  border-radius: 5px;
  box-shadow: none;
}
