.homeContainer {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
  }
  
  /* hr {
    width: 175px;
  } */
  
  /* .leftSide {
    flex: 2;
    height: 100vh;
  } */
  
  /* .rightSide {
    flex: 5;
    height: 100vh;
  } */
  
  /* .categoryLink {
    text-decoration: none;
    color: inherit;
  } */
  
  .emlakArea,
  .vasitaArea,
  .elektronikArea {
    display: flex;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* .emlakArea svg,
  .vasitaArea svg,
  .elektronikArea svg {
    margin-top: 15px;
    margin-right: 6px;
  }
   */

  .emlak ul,
  .vasita ul,
  .elektronik ul {
    list-style: none;
    width: 32px;
    cursor: pointer;
  }
  
  .emlak li,
  .vasita li,
  .elektronik li {
    margin-top: 10px;
  }
  
  .categoryLink:hover,
  h4:hover {
    text-decoration: underline;
  }