/* .toplam {
    display: flex;
    margin-top: 20px;
  }
  
  .fotograf {
    flex: 1;
    margin-left: 20px;
    background-color: rgb(119, 109, 109);
    height: 350px;
    margin-top: 65px;
    padding: 20px;
  }
  
  .özellik {
    flex: 1;
    padding: 20px; 
  }
  
  .property {
    margin-top: 27px;
    width: 100%;
  }
  
  .slider {
    margin-left: 20px; 
    width: 616px;
    background-color: darkgrey;
    height: 101px;
    padding: 20px;
  }
  
  .icon {
    text-align: center;
    margin-top: 20px; 
  }
   */