input {
  font-size: large;
  height: 70px;
}

#email{
  max-width:700px;
  font-size: 20px;
}
#password{
  max-width:700px;
  font-size: 20px;

}
form .container {
  justify-content: center;
  text-align: center;
  font-size: 30px;
  max-width: 500px;
  height: auto;
  border-radius: 27px;
  background-color: #3f475f;
  color: white;
}


.container{
background-color: rgb(199, 168, 127);
}

form .inputs{
  justify-content: center;
  align-items: center;
}

.form-title{
text-align: center;
}