body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.urunEkle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 16px;
  height: 236px;
  border: 1px solid lightsteelblue;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
}
.kategoriCevre {
  color: #3f475f;
  font-size: 25px;
  background-color: yellow;
}
input,
textarea {
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

a {
  position: relative;
  display: inline-block;
  padding: 15px 10px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 16px;
  overflow: hidden;
  transition: 0.2s;
}

a span {
  position: absolute;
  display: block;
}

a i {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-40%, -40%);
  font-size: 12px;
}

#emlak:hover {
  color: black;
  background: #fcae1a;
  box-shadow: 0 0 2px #fcae1a, 0 0 5px #fcae1a, 0 0 10px #fcae1a;
  transition-delay: 1ms;
}
#vasita:hover {
  color: black;
  background: #f32b2d;
  box-shadow: 0 0 2px #f32b2d, 0 0 5px #f32b2d, 0 0 10px #f32b2d;
  transition-delay: 1ms;
}
#elektronik:hover {
  color: black;
  background: #09b8bd;
  box-shadow: 0 0 2px #09b8bd, 0 0 5px #09b8bd, 0 0 10px #09b8bd;
  transition-delay: 1ms;
}

#emlak:hover i,
#vasita:hover i,
#elektronik:hover i {
  top: 5%;
  transform: translate(-40%, -10%);
}

@media (max-width: 768px) {
  a {
    font-size: 14px;
    padding: 15px 10px;
  }
}

@media (max-width: 576px) {
  a {
    font-size: 12px;
    padding: 10px 8px;
  }
}
