body {
  margin: 0;
  padding: 0;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* min-height: 100vh; */
  /* background: #d2dde7; */
  /* font-family: consolas; */
}
.baslik ,
.detay , 
.adres ,
.fiyat{
  font-size: 20px;
}

div.modal-title.h4,
form{
  font-family: Arial, Helvetica, sans-serif;
}

input ,
textarea
{
  border-radius: 5px;
  width: 100%; 
  box-sizing: border-box;
  margin-bottom: 10px; 
}

a {
  position: relative;
  display: inline-block;
  padding: 45px 30px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  transition: 0.2s;
}

a span {
  position: absolute;
  display: block;
}

a i {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-40%, -40%);
  font-size: 15px;
}

#emlak:hover {
  color: black;
  background: #fcae1a;
  box-shadow: 0 0 2px #fcae1a, 0 0 5px #fcae1a, 0 0 10px #fcae1a;
  transition-delay: 1ms;
}

#vasita:hover {
  color: black;
  background: #f32b2d;
  box-shadow: 0 0 2px #f32b2d, 0 0 5px #f32b2d, 0 0 10px #f32b2d;
  transition-delay: 1ms;
}

#elektronik:hover {
  color: black;
  background: #09b8bd;
  box-shadow: 0 0 2px #09b8bd, 0 0 5px #09b8bd, 0 0 10px #09b8bd;
  transition-delay: 1ms;
}

#emlak:hover i,
#vasita:hover i,
#elektronik:hover i {
  top: 5%;
  transform: translate(-40%, -10%);
}

@media (max-width: 768px) {
  a {
    font-size: 16px;
    padding: 30px 20px;
  }
}

@media (max-width: 576px) {
  a {
    font-size: 14px;
    padding: 20px 15px;
  }
}
