body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom right,  #ffff00, #3f475f);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.baslik {
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}

/* staj defteri */
#baslikBackground {
  background-color: #ffff00;
  width: 250px;
  margin-bottom: 1px;
  color: black;
  margin: auto;
}

.login-container h1 {
  padding-top: 30px;
  margin-top: -150px;
  margin-left:135px;
  color: #2f3c63;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

.login-container {

  background-color: #f5f0f0;
  padding: 250px 150px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 0 0 2px #3f475f;
  height: 300px;

  /* staj defteri */
}

form {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  width:150%;
}
/* staj defteri */
label {
  margin-bottom: 10px;
}

input {
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #110f0f;
  border-radius: 4px;
  width: calc(100% - 100px);
  border-left-width: 5px;
  border-right-width: 5px;
  width: 400px;
  font-size: 25px;
  margin-left: 20px;
 

  
}

  

.password-container #password {
position: relative;
}

.password-container .toggle-password {
z-index: 0;
}

button {
  padding: 15px ;
  margin-top: 70px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 8px; 
  width: 450px;
  font-size: 25px;
 margin-left:25px;
}

button:hover {
  background-color: red;
}



.forgot-password {
  padding-left: 280px;
  margin-top: -110px;
  font-size: 25px;
   
}


.no-account{
  padding-left: 20px;
  padding-top:160px;
  font-size: 25px;
  color: #020307;
}
#hshshshs{
  background-color: #ffff00;
}
#hshshshs:hover{
  background-color: red;
}


